/* WHOI CSS */

* {
	background: #031c33 !important;
}

h2, h3, span, label, input {
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: .01em !important;
	color: #99ccff !important;
}